/* ================= SITE WIDE =================== */

/* ========= UPDATING ============ */

#updateNotif {
  border-radius: 7px;
  color: black;
  background-color: #81d4f7;
  padding: 1em;
  max-width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  z-index: 999;
}
#updateNotif button {
	margin: 10px 5px 0 5px;
}

/* ======= ULTRAWIDE MODE ======== */

@media screen and (min-width: 1500px) {
	html.ultrawide .container, html.ultrawide .res-container, html.ultrawide .sky-container {
		width: 80%;
	}
	html.ultrawide .subnavbar-fixed .nav {
		width: 100%;
		padding: 0 15px;
	}
	html.ultrawide div.container.clearfix {
		padding: 0 15px;
	}
	
	/* directory */
	html.ultrawide .bb-card-content {
		flex-grow: 0;
	}
	html.ultrawide .bb-card.directory-card {
		border-radius: 7px;
	}
	html.ultrawide .bb-card-actions {
		border-top: none;
	}
	html.ultrawide .bb-card.directory-card .clearfix{
		display: none;
	}
	html.ultrawide .bb-card.directory-card .bb-card-actions {
	  position: absolute;
	  top: 10px;
	  right: 25px;
	  margin: 0 !important;
	  padding: 0 !important;
	}
	html.ultrawide .bb-card.directory-card div.clearfix+div {
		border: none;
	}
}

/* ======= DARK MODE ======== */

/* color palette */
:root {
	/* general */
	--darkmode-base: #1d1e22;
	--darkmode-navbar: rgb(28, 28, 30);
	--darkmode-content: rgb(41,41,43);
	--darkmode-content-secondary: #252525;
	--darkmode-button: #373739;
	--darkmode-border: #2f2f2f;
	--darkmode-text: white;
	--darkmode-text-secondary: #999;
	--darkmode-link: #00a5dd;
	--darkmode-important: #454545;
	--darkmode-important-secondary: #373737;
	--darkmode-input: white;
	
	/* mcds accent colors */ 
	--darkmode-mcdsblue: #272727;
	--darkmode-mcdsred: #181818;
}

/* update notif */
html.darkmode #updateNotif {
	background-color: var(--darkmode-important);
	color: var(--darkmode-text);
}

/* navbar */
html.darkmode #site-nav-container, html.darkmode .subnavbar {
	background-color: var(--darkmode-navbar);
	border-color: var(--darkmode-border);
}
html.darkmode #site-header-container {
	background-color: var(--darkmode-mcdsblue);
	border-color: var(--darkmode-mcdsred);
}
html.darkmode .desc, html.darkmode .title.black-fgc.sky-nav {
	color: var(--darkmode-text);
}
html.darkmode .pri-100-fgc {
	color: var(--darkmode-link) ;
}
html.darkmode #site-nav ul.topnav > li > a.active, html.darkmode #site-nav ul.topnav > li > a:hover, html.darkmode .subnavbar .nav > .active > a, html.darkmode .subnavbar .nav > .active > a:hover {
	background-image: none;
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
}
html.darkmode span.day.white-bgc {
	color: black;
}
html.darkmode #site-nav-bottom {
	background-color: var(--darkmode-border);	
}
html.darkmode div.subnavtop.sec-75-bordercolor.white-bgc.sky-nav, html.darkmode div.subnav.sec-75-bordercolor.white-bgc.sky-nav, html.darkmode div.subnav.pri-75-bordercolor.white-bgc.gray-nav-boxshadow.sky-nav.nav-visible, html.darkmode .subnav.white-bgc.pri-75-bordercolor.ng-star-inserted, html.darkmode .subnav.white-bgc.sec-75-bordercolor.ng-star-inserted, html.darkmode .subnav.white-bgc.sec-75-bordercolor, html.darkmode .subnav.white-bgc.pri-75-bordercolor {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
	box-shadow: none;
}
html.darkmode div.subnav.sec-75-bordercolor.white-bgc.sky-nav .sec-25-bgc-hover:hover, html.darkmode a.pri-75-bgc-hover.black-fgc.white-fgc-hover.sky-nav:hover, html.darkmode {
	background-color: var(--darkmode-content);
}
html.darkmode div.subnav.sec-75-bordercolor.white-bgc.sky-nav span.title.black-fgc.sky-nav, html.darkmode .subnavbar .nav>li>a, html.darkmode .subnavbar ul li a {
	color: var(--darkmode-text);
}
html.darkmode .subnav .divider-label h6 {
	background-color: var(--darkmode-navbar);
}
html.darkmode .pri-75-bordercolor, html.darkmode .pri-75-bordercolor-hover:hover {
	border-color: var(--darkmode-border);
}
html.darkmode span.caret, html.darkmode .fa.fa-caret-down {
	color: var(--darkmode-text);
	background-color: transparent;
	border-color: var(--darkmode-text);
}
html.darkmode #site-nav DIV.subnav UL > li > a.active, html.darkmode .pri-75-bgc, html.darkmode .pri-75-bgc-hover:hover, html.darkmode .sec-25-bgc, html.darkmode .sec-25-bgc-hover:hover {
	background-color: var(--darkmode-content);
}
html.darkmode LI.divider {
	border-color: var(--darkmode-border);
	background-color: transparent;
}
html.darkmode .subnavfooter.ng-star-inserted, html.darkmode ul[_ngcontent-ng-c1617583083].subnavfooter {
	border-top: 1px solid var(--darkmode-border);
}
html.darkmode #site-nav-lower.subnavbar.ng-star-inserted .ng-star-inserted a:hover {
	text-decoration: none;
	background-color: var(--darkmode-content-secondary);
}

/* site wide */
html.darkmode, html.darkmode body {
	background-color: var(--darkmode-base);
	color: var(--darkmode-text);
}

/* site login */
html.darkmode #site-login-main-wrapper {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
}
html.darkmode #site-login-header {
	background-color: var(--darkmode-mcdsblue);
}

/* wait message for document generation */
html.darkmode #waitMessage {
	color: var(--darkmode-text);
}

/* site content */
html.darkmode .bb-tile, html.darkmode .bb-tile-title, html.darkmode .bb-tile-header, html.darkmode .bb-tile-content, html.darkmode .well, html.darkmode .teaserBox, html.darkmode .sky-tile-header[_ngcontent-ng-c4191258418] {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
}
html.darkmode .sky-wait-mask, html.darkmode .sky-fixed-wait-mask, html.darkmode #loading-icon {
	background-color: transparent;
}
html.darkmode .popContainerStraight, html.darkmode .thumbnail {
	background: none;
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
	text-shadow: none;
	box-shadow: none;
}
html.darkmode .breadcrumb, html.darkmode .containerFull.whiteContainer1 {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .section-heading {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
	border-radius: 7px;
}
html.darkmode .bb-page-heading, html.darkmode h1, html.darkmode .sky-font-heading-2, html.darkmode .sky-font-display-3, html.darkmode .sky-font-data-label {
	color: var(--darkmode-text);
}
html.darkmode .modal-header, html.darkmode .modal-header a {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
}
html.darkmode .modal-body, html.darkmode .p3icon-moreInfo {
	background-color: transparent;
	color: var(--darkmode-text);
}
html.darkmode .col-md-3.col-xs-12 > .bb-page-content-tile-column > .bb-tile > .bb-tile-content > .bb-tile-content-section, html.darkmode .bb-tile hr {
	border-color: var(--darkmode-border);
}
html.darkmode .nav.nav-tabs>li>a:hover, html.darkmode .nav.nav-tabs ul.dropdown-menu>li>a:hover, html.darkmode .nav-tabs.nav-justified>li>a:hover, html.darkmode .nav-tabs.nav-justified ul.dropdown-menu>li>a:hover {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .nav.nav-tabs>li>a, html.darkmode .nav.nav-tabs ul.dropdown-menu>li>a, html.darkmode .nav-tabs.nav-justified>li>a, html.darkmode .nav-tabs.nav-justified ul.dropdown-menu>li>a {
	color: var(--darkmode-text);
}
html.darkmode .dropdown-menu {
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
}
html.darkmode .dropdown-menu .divider {
	border-color: var(--darkmode-border);
}

/* alerts */
html.darkmode .alert-info {
	background-color: var(--darkmode-important);
	border-color: var(--darkmode-important-secondary);
}
html.darkmode .alert {
	color: var(--darkmode-text);
}
html.darkmode .sky-toast-backbone {
	background-color: var(--darkmode-important);
	border-color: var(--darkmode-important-secondary);
	color: var(--darkmode-text);
}
html.darkmode .info-toast-link {
	color: var(--darkmode-text);
}
html.darkmode .label {
	color: var(--darkmode-content-secondary);
}

/* buttons */
html.darkmode .chCal-state-default, html.darkmode .chCal-state-default .chCal-button-inner, html.darkmode .btn-default, html.darkmode .bb-btn-secondary, html.darkmode .tox .tox-button--secondary, html.darkmode .sky-btn:not(.sky-datepicker-calendar-inner .sky-btn-default):not(.sky-btn-link-inline), html.darkmode .btn-primary, html.darkmode .cal-layout-fc #cal-inner-fc .fc-toolbar .fc-button[aria-pressed=false], html.darkmode .cal-layout-fc #cal-picker-fc .fc-toolbar .fc-button[aria-pressed=false] {
	background-image: none;
	background-color: var(--darkmode-button);
	border-color: var(--darkmode-border);
	border-radius: 4px;
}
html.darkmode .chCal-state-default .chCal-button-effect span {
	display: none;
}
html.darkmode .chCal-button-content:not(.chCal-state-disabled .chCal-button-content), html.darkmode .btn-default, html.darkmode .bb-btn-secondary, html.darkmode .tox .tox-button--secondary, html.darkmode .sky-btn:not(.sky-datepicker-calendar-inner .sky-btn-default) {
	color: var(--darkmode-text);
}
html.darkmode .input-group-btn .btn.btn-inverse {
	background: none;
	background-color: var(--darkmode-button);
	border-color: var(--darkmode-border);
	box-shadow: none;
}
html.darkmode li.active > a {
	background-color: var(--darkmode-content-secondary);
	box-shadow: none;
	padding-left: auto;
}
html.darkmode .nav.nav-tabs>li>a:hover, html.darkmode .nav.nav-tabs ul.dropdown-menu>li>a:hover, html.darkmode .nav-tabs.nav-justified>li>a:hover, html.darkmode .nav-tabs.nav-justified ul.dropdown-menu>li>a:hover {
	border-bottom-color: transparent;
}
html.darkmode .nav.nav-tabs, html.darkmode .nav-tabs.nav-justified {
	border-color: var(--darkmode-border);
}
html.darkmode .btn:active, html.darkmode .btn.active {
	background-color: var(--darkmode-content-secondary);
	box-shadow: none;
	border: 1px solid var(--darkmode-border)
}

/* emergency bulletin */
html.darkmode #schedule-maker-bulletin .emergency-bulletin-container, html.darkmode #emergency-bulletin .emergency-bulletin-container, html.darkmode #main-bulletin .main-bulletin-container, html.darkmode i.p3icon-delete.hide-bulletin,
html.darkmode #schedule-maker-bulletin .emergency-bulletin-container p, html.darkmode #emergency-bulletin .emergency-bulletin-container p, html.darkmode #main-bulletin .main-bulletin-container p {
	background-color: var(--darkmode-important);
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
}

/* links */
html.darkmode #coursesContainer a:not(html.darkmode .btn-default), html.darkmode #advisoryContainer a:not(html.darkmode .btn-default), html.darkmode #communitiesContainer a:not(html.darkmode .btn-default), html.darkmode #assignment-center-list-view a.assignment-detail-link {
	color: var(--darkmode-link);
}


/* inputs */
html.darkmode input[type="text"], html.darkmode input.sky-form-control, html.darkmode select, html.darkmode .sky-lookup-search {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
}
html.darkmode #gradeSelect {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
}
html.darkmode .sky-input-box .sky-input-box-input-group-inner:not(.sky-field-status-active):not(.sky-field-status-invalid) {
	border-color: var(--darkmode-border);
	border-radius: 4px;
}
html.darkmode ul.token-input-list, html.darkmode div.token-input-dropdown {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
}
html.darkmode .bb-check-checkbox, html.darkmode .bb-check-radio {
	border-color: var(--darkmode-border);
	background-color: var(--darkmode-button);
}

/* courses */
html.darkmode #courses #coursesContainer .row:nth-child(odd), html.darkmode #courses #advisoryContainer .row:nth-child(odd), html.darkmode #courses #activitiesContainer .row:nth-child(odd), html.darkmode #courses #communitiesContainer .row:nth-child(odd) {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode #courses #coursesContainer .row:nth-child(even), html.darkmode #courses #advisoryContainer .row:nth-child(even), html.darkmode #courses #activitiesContainer .row:nth-child(even), html.darkmode #courses #communitiesContainer .row:nth-child(even) {
	background-color: var(--darkmode-content);
}
html.darkmode .whiteContainer1 {
	border-color: var(--darkmode-border);
}

/* tables */
html.darkmode .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .table tbody tr td, html.darkmode .table thead tr th {
	border-color: var(--darkmode-border);
}
html.darkmode table.table-sky thead {
	border-color: var(--darkmode-border);
}

/* ui calendar picker */
html.darkmode .ui-widget-header {
	background: none;
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
}
html.darkmode .ui-widget-content {
	color: var(--darkmode-text)
}
html.darkmode .ui-widget.ui-widget-content, html.darkmode .ui-widget-header {
	border-color: var(--darkmode-border);
}
html.darkmode .ui-widget-content {
	background-color: var(--darkmode-content);
}
html.darkmode .ui-state-default, html.darkmode .ui-widget-content .ui-state-default, html.darkmode .ui-widget-header .ui-state-default, html.darkmode .ui-button, html.darkmode .ui-button.ui-state-disabled:hover, html.darkmode .ui-button.ui-state-disabled:active {
	background: none;
	background-color: var(--darkmode-content-secondary);
	border: none;
	color: var(--darkmode-text);
	border-radius: 4px;
	text-align: center;
}
html.darkmode .ui-state-active, html.darkmode .ui-widget-content .ui-state-active, html.darkmode .ui-widget-header .ui-state-active, html.darkmode a.ui-button:active, html.darkmode .ui-button:active, html.darkmode .ui-button.ui-state-active:hover {
	background: none;
	background-color: var(--darkmode-content-secondary);
	border: none;
	color: #ff0084;
	border-radius: 4px;
	text-align: center;
}
html.darkmode .ui-state-highlight, html.darkmode .ui-widget-content .ui-state-highlight, html.darkmode .ui-widget-header .ui-state-highlight {
	color: gray;
}

/* messages */
html.darkmode .message-list-body {
	color: var(--darkmode-text);
}
html.darkmode td.cell-message.conv-message > div:nth-child(3) {
 color: --darkmode-text-secondary; 
}
html.darkmode #conversation-message-list .well {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .official-note-list tr {
	border-color: var(--darkmode-border);
}
html.darkmode .modal-footer {
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
}
html.darkmode .tox .tox-toolbar-overlord {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .tox .tox-toolbar, html.darkmode .tox .tox-toolbar__overflow, html.darkmode .tox .tox-toolbar__primary {
	background: none;
	background-color: transparent;
}
html.darkmode .tox .tox-tbtn svg {
	fill: var(--darkmode-text);
}
html.darkmode .tox-tinymce, html.darkmode .tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
	border-color: var(--darkmode-border);
}
html.darkmode .tox .tox-tbtn:hover, html.darkmode .tox .tox-tbtn:focus, html.darkmode .tox .tox-tbtn:active {
	background: none;
	background-color: var(--darkmode-content);
}
html.darkmode .tox, html.darkmode .tox .tox-tbtn {
	color: var(--darkmode-text);
}
html.darkmode .tox .tox-tbtn--disabled svg, html.darkmode .tox .tox-tbtn--disabled:hover svg, html.darkmode .tox .tox-tbtn:disabled svg, html.darkmode .tox .tox-tbtn:disabled:hover svg {
	fill: var(--darkmode-text-secondary)
}
html.darkmode .tox .tox-menu {
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
}
html.darkmode .tox .tox-collection__item {
	color: var(--darkmode-text);
}
html.darkmode .tox .tox-collection--list .tox-collection__item--enabled, html.darkmode .tox .tox-collection--list .tox-collection__item--active {
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
}
html.darkmode .tox .tox-dialog-wrap__backdrop {
	background-color: rgba(0,0,0,0.75);
}
html.darkmode .tox .tox-dialog, .tox .tox-dialog__header, .tox .tox-dialog__footer, html.darkmode .tox .tox-listboxfield .tox-listbox--select {
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
	background-color: var(--darkmode-content);
}
html.darkmode .tox .tox-label, html.darkmode .tox .tox-toolbar-label {
	color: var(--darkmode-text);
}
html.darkmode .tox-icon svg {
	fill: var(--darkmode-text)
}
html.darkmode .tox .tox-button--naked:hover:not(:disabled), html.darkmode .tox .tox-button--naked:active:not(:disabled), html.darkmode .tox .tox-button--naked:focus:not(:disabled), html.darkmode .tox .tox-collection--grid .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
}
html.darkmode .tox .tox-textarea, html.darkmode .tox .tox-textfield, html.darkmode .tox .tox-toolbar-textfield {
	border-color: var(--darkmode-border);
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
}
html.darkmode .tox .tox-dialog__body-nav-item {
	color: var(--darkmode-text);
}
html.darkmode div.token-input-dropdown {
	border-color: var(--darkmode-border);
}
html.darkmode div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: var(--darkmode-content);
}
html.darkmode div.token-input-dropdown ul li {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode li.token-input-token {
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
}
html.darkmode .sky-background-color-info-light {
	background-color: var(--darkmode-important);
}
html.darkmode td.cell-message.conv-message > div:nth-child(3) {
	color: var(--darkmode-text-secondary);
}

/* forms */
html.darkmode .form-section-item span {
	color: var(--darkmode-text);
}

/* assignment center (this shit is so ass why did they do this) */
html.darkmode app-student-assignment-center > div {
	background-color: var(--darkmode-base);
	color: var(--darkmode-text);
}
html.darkmode .sky-toolbar-container[_ngcontent-ng-c4244991289] {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
}
html.darkmode .sky-split-view-workspace[_ngcontent-ng-c4100672797] {
	background-color: var(--darkmode-content);
}

html.darkmode .sky-split-view-drawer[_ngcontent-ng-c1875801217] {
	background-color: var(--darkmode-content-secondary);
	border: none;
}
html.darkmode sky-repeater-item .sky-repeater-item-title {
  color: var(--darkmode-text);
}

html.darkmode div.ng-trigger-drawerEnter.ng-trigger.ng-tns-c566280726-1.sky-split-view-drawer-flex-container, html.darkmode .cal-header {
	background-color: var(--darkmode-content-secondary);
	border-right: 1px solid var(--darkmode-border);
}
html.darkmode .calendar-headers .calendar-header-day, html.darkmode .cal-month-view, html.darkmode .cal-month-view .cal-cell-row:hover {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .sky-border-bottom-dark, html.darkmode .calendar-week-header-day, html.darkmode .cal-header, html.darkmode .cal-month-view .cal-day-cell:not(:last-child), html.darkmode .cal-month-view .cal-days .cal-cell-row {
	border-color: var(--darkmode-border);
}
html.darkmode #calendar-date-container, html.darkmode .cal-month-view .cal-cell-row .cal-cell:hover, html.darkmode .cal-month-view .cal-cell.cal-has-events.cal-open {
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
}
html.darkmode .cal-week-view .cal-all-day-events, html.darkmode .cal-week-view .cal-time-events {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-split-view[_ngcontent-ng-c566280726] {
	border: none;
}
html.darkmode h3[_ngcontent-ng-c3411431519], html.darkmode .sky-font-heading-3 {
	color: var(--darkmode-text);
}
html.darkmode .cal-week-view {
	background-color: transparent;
}
html.darkmode .cal-month-view .cal-days {
	border: none;
	border-top: 1px solid var(--darkmode-border);
}
html.darkmode .sky-switch:not(.sky-theme-modern *) .sky-switch-input:checked:not(:disabled)+.sky-switch-control, html.darkmode .sky-switch:not(.sky-theme-modern *) .sky-switch-input[type=checkbox]:indeterminate:not(:disabled)+.sky-switch-control {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-input);
	color: var(--darkmode-text);
}
html.darkmode .sky-switch:not(.sky-theme-modern *):hover .sky-switch-control {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-switch-control.sky-switch-control-icon.sky-rounded-corners.sky-switch-control-info {
	background-color: var(--darkmode-button);
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
}
html.darkmode .sky-modal[_ngcontent-ng-c3118006454].sky-box, html.darkmode .sky-modal-footer-container {
	border-color: var(--darkmode-border);
	background-color: var(--darkmode-content);
}
html.darkmode .sky-modal-header[_ngcontent-ng-c3118006454], html.darkmode .sky-modal-content[_ngcontent-ng-c3118006454] {
	background-color: transparent;
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
}
html.darkmode .sky-font-heading-4 {
	color: var(--darkmode-text);
}
html.darkmode .sky-switch:not(.sky-theme-modern *) .sky-switch-control {
	background-color: var(--darkmode-content-secondary);
	border-color: var(--darkmode-border);
}
html.darkmode .sky-colorpicker-reset-button {
	background-color: var(--darkmode-button);
	color: var(--darkmode-text);
	box-shadow: none;
	border-color: var(--darkmode-border);
	border-radius: 4px;
}
html.darkmode .sky-colorpicker, html.darkmode .sky-colorpicker-footer {
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
}
html.darkmode .sky-colorpicker .sky-colorpicker-preset-color-area .sky-preset-color, html.darkmode .sky-colorpicker .sky-colorpicker-preset-color-area .sky-preset-color:hover {
	border-color: var(--darkmode-border);
	box-shadow: none;
}
html.darkmode .sky-colorpicker-button, html.darkmode .sky-colorpicker-button:active {
	background-image: none;
}
html.darkmode .sky-dropdown-menu {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .sky-dropdown-item.sky-dropdown-item-active a, html.darkmode .sky-dropdown-item.sky-dropdown-item-active button, html.darkmode .sky-dropdown-item:hover a, html.darkmode .sky-dropdown-item:hover button {
	background-color: var(--darkmode-content);
}
html.darkmode .sky-dropdown-item>a, html.darkmode .sky-dropdown-item>button {
	color: var(--darkmode-text);
}
html.darkmode .white-bg {
	background-color: transparent;
}
html.darkmode h3.display-inline[_ngcontent-ng-c1696335722] {
	color: var(--darkmode-text);
}
html.darkmode .sky-deemphasized {
	color: var(--darkmode-text);
}
html.darkmode app-student-assignment-center sky-repeater-item-title div > span {
	display: none;
}
html.darkmode .sky-switch-input[_ngcontent-ng-c3108027107]:checked + .sky-switch-control[_ngcontent-ng-c3108027107]:not(.sky-switch-control-icon):after {
	background: var(--darkmode-text);
}
html.darkmode sky-repeater-item .sky-repeater-item {
	border-bottom: 1px solid var(--darkmode-border);
}
html.darkmode .event-left-border-indicator.ng-star-inserted {
	color: var(--darkmode-text);
	border-top-color: var(--darkmode-border);
	border-right-color: var(--darkmode-border);
	border-bottom-color: var(--darkmode-border);
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .cell-view-event a {
	color: var(--darkmode-link);
}
html.darkmode .cal-week-view .cal-event-container:not(.cal-draggable) {
	cursor: auto;
}
html.darkmode .sky-timepicker-content button {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
}
html.darkmode .sky-timepicker-container :last-child ol li, html.darkmode .sky-timepicker-column ol {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-timepicker-column ol .sky-btn-active {
	box-shadow: inset 0 0 0 2px var(--darkmode-text);
}
html.darkmode .sky-autocomplete-actions[_ngcontent-ng-c1247323722] {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-autocomplete-results-container[_ngcontent-ng-c1247323722] {
	background-color: transparent;
}

/* profile */
html.darkmode .sky-page-summary[_ngcontent-ng-c3976386301] {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .sky-emphasized, html.darkmode .sky-field-label, html.darkmode .sky-margin-stacked-compact {
	color: var(--darkmode-text);
}
html.darkmode .sky-btn-tab-selected:not(.sky-btn-tab-disabled) {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .sky-btn-tab:hover:not(.sky-btn-tab-disabled) {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
}
html.darkmode .sky-tabset {
	border-color: var(--darkmode-border);
}
html.darkmode .cal-week-view .cal-day-column {
	border-color: var(--darkmode-border);
}

/* directory */
html.darkmode .select-directory-link.pri-100-bgc {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
}
html.darkmode .nav .open>a, html.darkmode .nav .open>a:hover, html.darkmode .nav .open>a:focus {
	background-color: var(--darkmode-button);
	color: var(--darkmode-text);
}
html.darkmode #site-main .subnavbar .nav>li>a:not(li.active > a) {
	background-color: var(--darkmode-button);
	color: var(--darkmode-text);
}
html.darkmode .dropdown-menu>li>a:hover, html.darkmode .dropdown-menu>li>a:focus {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
}
html.darkmode .bb-card {
	background-color: var(--darkmode-content-secondary);
	box-shadow: none;
	border-color: var(--darkmode-border);
}
html.darkmode #total-message {
	color: var(--darkmode-text);
}
html.darkmode .bb-tile-content-section:not(:last-child) {
	border-color: var(--darkmode-border);
}
html.darkmode .bb-card.directory-card div.clearfix+div {
	border-color: var(--darkmode-border);
}
html.darkmode .bb-card.directory-card .bb-card-actions {
	border-color: var(--darkmode-border);
}
html.darkmode #directory-results .table .table {
	background-color: transparent;
}
html.darkmode .contactCardP a {
	color: var(--darkmode-link);
}
html.darkmode .tab-pane {
	background-color: transparent;
}

/* conduct */
html.darkmode .sky-theme-default[_nghost-ng-c2337942906], html.darkmode .sky-theme-default [_nghost-ng-c2337942906] {
	background-color: transparent;
}
html.darkmode [_nghost-ng-c2885887643]:not(:last-child) .sky-tile-content-section[_ngcontent-ng-c2885887643], html.darkmode .sky-tile-content[_ngcontent-ng-c4191258418] {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-tile-content-section {
	background-color: var(--darkmode-content);
}
html.darkmode sky-alert {
	margin: 0 15px;
}
html.darkmode .sky-grid-heading[_ngcontent-ng-c3571411794] {
	border-color: var(--darkmode-border);
	color: var(--darkmode-text);
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .sky-grid-heading[_ngcontent-ng-c3571411794] .sky-grid-column-input-aria-only[_ngcontent-ng-c3571411794] {
	background-color: var(--darkmode-border);
}
sky-input-box .sky-input-box-input-group-inner {
	background-color: transparent;
}

/* calendar */
html.darkmode .cal-layout-fc .cal-filters-fc {
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
}
html.darkmode .cal-layout-fc .calendar-list .nav-list>li, html.darkmode .cal-layout-fc #cal-inner-fc .fc-day .fc-daygrid-day-number, html.darkmode .cal-layout-fc #cal-picker-fc .fc-day .fc-daygrid-day-number, html.darkmode .cal-layout-fc #cal-inner-fc .fc-col-header-cell .fc-col-header-cell-cushion, html.darkmode .cal-layout-fc #cal-picker-fc .fc-col-header-cell .fc-col-header-cell-cushion, html.darkmode .cal-layout-fc #cal-inner-fc .fc-list .fc-list-day .fc-list-day-text, html.darkmode .cal-layout-fc #cal-picker-fc .fc-list .fc-list-day .fc-list-day-text, html.darkmode .fc-list-title.bb-emphasized {
	color: var(--darkmode-text);
}
html.darkmode .fc-theme-standard td, html.darkmode .fc-theme-standard th, html.darkmode .fc-theme-standard .fc-scrollgrid, html.darkmode .sky-datepicker-calendar-inner {
	border-color: var(--darkmode-border);
}
html.darkmode .cal-layout-fc #cal-inner-fc .fc-toolbar .fc-button[aria-pressed=true], html.darkmode .cal-layout-fc #cal-picker-fc .fc-toolbar .fc-button[aria-pressed=true] {
	background: none;
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .cal-layout-fc #cal-inner-fc .fc-toolbar .fc-button, html.darkmode .cal-layout-fc #cal-picker-fc .fc-toolbar .fc-button {
	box-shadow: none;
}
html.darkmode .cal-layout-fc #cal-inner-fc .fc-toolbar, html.darkmode .cal-layout-fc #cal-picker-fc .fc-toolbar {
	background-color: transparent;
}
html.darkmode .cal-layout-fc .bb-tile {
	border-top: 4px solid var(--darkmode-border);
}
html.darkmode .fc .fc-scrollgrid-section-sticky > *, html.darkmode .cal-layout-fc #cal-inner-fc .fc-list .fc-list-day .fc-list-day-cushion, html.darkmode .cal-layout-fc #cal-picker-fc .fc-list .fc-list-day .fc-list-day-cushion {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode #fc-edu-header-toolbar {
	background-color: transparent;
	color: var(--darkmode-text);
}
html.darkmode .cal-layout-fc #cal-inner-fc .fc-toolbar .toolbar-left-fc .range-dd-fc, html.darkmode .cal-layout-fc #cal-picker-fc .fc-toolbar .toolbar-left-fc .range-dd-fc, html.darkmode .sky-datepicker-calendar-inner, html.darkmode .fc .fc-list-event:hover td {
	background-color: var(--darkmode-content);
}
html.darkmode .sky-datepicker-calendar-inner .sky-btn-default {
	color: var(--darkmode-text);
	background-color: var(--darkmode-button);
	border-color: var(--darkmode-border);
}

/* bulletin board */
html.darkmode .thumbnail .caption {
	color: var(--darkmode-text);
}
html.darkmode .datelabel {
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
	border-color: var(--darkmode-border);
}

/* topics page */
html.darkmode #academicclassmaincontainer .col-md-3 > div {
	background-color: var(--darkmode-content);
}
html.darkmode .fadeBox {
	background-color: var(--darkmode-button);
}
html.darkmode .fadeBox h6, html.darkmode .topicBox, html.darkmode .topicBox-expanded {
	color: var(--darkmode-text);
}

/* assignments page */
html.darkmode .modal-content {
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
}
html.darkmode .p3ltGray, html.darkmode .p3icon-check, html.darkmode .p3icon-radioOff, html.darkmode .p3icon-trash, html.darkmode .p3icon-downArrow, html.darkmode .p3icon-sideArrow, html.darkmode .p3icon-leftArrow, html.darkmode .p3icon-upArrow, html.darkmode .p3icon-sortOff, html.darkmode .p3icon-sport {
	color: var(--darkmode-text);
}
html.darkmode .fc-col-header-cell-cushion, html.darkmode .fc-daygrid-day-number, html.darkmode .nav-filter H5 {
	color: var(--darkmode-text);
}
html.darkmode .nav-filter {
	background-color: var(--darkmode-content);
}
html.darkmode .p3Green, html.darkmode .p3icon-addNew, html.darkmode .p3icon-ok, html.darkmode .p3icon-radioOn {
	color: var(--darkmode-link);
}
html.darkmode .nav>li>a:hover, html.darkmode .nav>li>a:focus {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .assignment-table-header {
	background-color: var(--darkmode-content-secondary);
	color: var(--darkmode-text);
}
html.darkmode .table thead tr th, html.darkmode .table thead tr th a {
	color: var(--darkmode-text);
}
html.darkmode .table thead {
	background-color: transparent;
}

/* grade detail  FIX LATER CAUSE IFRAME WTFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF*/
html.darkmode .sky-modal[_ngcontent-ng-c3118006454] {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-modal-header[_ngcontent-ng-c3118006454] {
	background-color: var(--darkmode-content);
}
html.darkmode .sky-font-heading-2 {
	color: var(--darkmode-text);
}

/* assignment detail */
html.darkmode .sky-box {
	background-color: var(--darkmode-content);
}
html.darkmode .header[_ngcontent-ng-c3090836380] {
	background-color: var(--darkmode-content-secondary);
}
html.darkmode .green-border-bottom[_ngcontent-ng-c3758752953] {
	border-bottom: 1px solid var(--darkmode-border);
}
html.darkmode .sky-border-dark {
	border-color: var(--darkmode-border);
}
html.darkmode .sky-box.sky-shadow.sky-border-dark {
	box-shadow: none;
}
html.darkmode .sky-help-inline[_ngcontent-ng-c988395213] {
	color: var(--darkmode-text);
}

/* resources page */
html.darkmode .conDefault {
	background: none;
	background-color: var(--darkmode-content);
	border-color: var(--darkmode-border);
	box-shadow: none;
}
html.darkmode a[title="Upper School Announcement Submission Form"] span {
	color: var(--darkmode-link);
	text-decoration: none;
}
html.darkmode .containerFull.whiteContainer1 > h3 {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
}

html.darkmode #communitypagecontainer .col-md-3 > div {
	background-color: var(--darkmode-content);
}

/* college counceling scholarship page */
html.darkmode #topic-detail-container #column0_0 > div:first-of-type {
	background-color: var(--darkmode-content-secondary);
	border-radius: 4px;
}



/* old assignment center */

html.darkmode .popover.bottom {
	border-color: var(--darkmode-border);
}
html.darkmode .popover.bottom>.arrow:after {
	border-bottom-color: var(--darkmode-border);
}
html.darkmode .popover-content {
	background-color: var(--darkmode-content);
	color: var(--darkmode-text);
}
html.darkmode .popover {
	background-color: transparent;
}

/* ======= BLUE BAR ======= */

#site-user-nav > div > .topnav {
  display: flex;
}

#site-header-container {
  border-bottom: 3px solid red;
}

/* ======= INPUTS ======= */

input[type="text"] {
 padding-left: 0.5rem;
}

option {
  font-family: sans-serif;
}
ul.token-input-list, div.token-input-dropdown {
	margin-top: 4px;
	border-radius: 4px;
}
input[type="text"].sky-form-control {
	border-radius: 4px 0 0 4px;
}


/* ======= BUTTONS ======= */

.btn {
 border-radius: 0.3em
}
.input-group-btn *:first-of-type {
	border-radius: 4px 0 0 4px;
}
.input-group-btn *:last-of-type {
	border-radius: 0;
}
.input-group-btn *:not(:first-of-type):not(:last-of-type) {
	border-radius: 0 4px 4px 0;
}
.sky-btn.sky-btn-default.sky-search-btn.sky-search-btn-apply.ng-tns-c3389970360-1, .sky-btn.sky-btn-default.sky-input-group-datepicker-btn {
	border-radius: 0 4px 4px 0;
}

/* ==== EMERGENCY BULLETIN ==== */

.emergency-bulletin-container {
 background-color: #81d4f7 !important;
 border-bottom: 2px solid #00b4f1 !important;
 margin-bottom: 30px !important;
 border-radius: 4px;
}

/* ================== SITE LOGIN =================== */
#site-login-header {
	border-radius: 4px 4px 0 0;
}

#site-login-main-wrapper {
	border-radius: 0 0 4px 4px;
}

#img-login-logo {
	margin: 10px 0;
}

/* ================== SCHEDULE =================== */

.bb-title-header {
  font-family: "Blackbaud Sans","Helvetica Neue",Arial,sans-serif;
}

.bb-tile-title {
  cursor: default !important;
}



/* ================ MESSAGES PAGE ================ */

div.message-list-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
}

td.cell-message.conv-message > div:nth-child(3) {
 width: 100%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 color: #686c73; 
}

@media screen and (max-width:768px) {
  td.cell-message.conv-message>div:nth-child(1) {
   float: left !important;
   padding-left: 0 !important;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
  }

  td>div:nth-child(2) {
   width: 100%;
   float: left !important;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #686c73;
  }
}

#compose-message-button {
 background-color: #007ca6;
 color: white;
}


#search-text {
 border-radius: 0.3em 0 0 0.3em;
}

button#search.btn.btn-inverse {
 border-radius: 0 0.3em 0.3em 0;
 background-image: none !important;
}

.col-md-3.col-xs-12 > .bb-page-content-tile-column > .bb-tile > .bb-tile-content > .bb-tile-content-section {
	border-top: 4px solid #cdcfd2;
}

table.message-list:not(table.message-list.selectMessages) td:first-of-type, button.bulk-archive:not(.selectMessages), button.bulk-read:not(.selectMessages), #selectAllButton:not(.selectMessages), #deselectAllButton:not(.selectMessages) {
	display: none;
}

.message-list-body:not(#conversation-message-list .message-list-body) {
	margin-top: 15px;
	margin-left: -63px;
}
/* ======= MESSAGE PANEL ======= */

div.col-md-1.text-align-right {
 display: none;
}

@media screen and (max-width:768px) {
  div.col-md-11.well.fromother>span:nth-child(2) {
   visibility: hidden;
   font-size: 0px !important;
  }
  div.col-md-11.well.fromother>span:nth-child(1) {
   float: left;
   width: 100%;
  }
}

div.col-md-11.well.fromother>span, div.col-md-11.well.fromself>span {
 color: #686c73
}

div.col-md-11.well.fromother {
 width: 100% !important;
}

div.row.message-list.pr-10.pl-10 {
 margin-left: 0 !important;
 padding: 0 !important;
}

// .well {
// margin-bottom: 0 !important;
// }

div#site-modal.modal.bb-modal.in {
 padding-right: 0 !important;
}

/* ================= SCHEDULE =================== */



/* ================= ASSIGNMENT CENTER =================== */

/* ======== ADD TASK MENU ======== */
select, select.form-control {
 padding-left: 0.5rem;
}

sky-repeater-item .sky-repeater-item-collapsible .sky-repeater-item-header {
	cursor: auto;
}

/* ======== SUBMIT ASSIGNMENT DIALOGUE ======== */

/*
#site-modal > div > .modal-dialog > .modal-content {                                                     makes messages vanish, fix later    
  visibility: hidden;
}

#site-modal > div > .modal-dialog > .modal-content > .modal-dialogue {
  visibility: visible !important;
  border-radius: 1em;
}
*/


/* ================= PROGRESS =================== */

.btn.btn-default.btn-sm.accordion-toggle {
 display: none;
}

label[data-action="term"]:first-of-type {
	display: none;
}

div.row > div.col-md-3 > p > [href] {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

div.col-md-2:nth-of-type(3) {
 display: none !important;
}

.imgNice {
	padding: 0;
	border: none;
	object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 100%;
}

img.imgNice + h4 {
	margin-bottom: 0;
}

/* =============== RESOURCES ================ */
.containerFull.whiteContainer1 img {
	border-radius: 4px 4px 0 0;
}

/* ============= LOGIN HISTORY ============== */
#account-login-history td:last-of-type, .mcdtweaks-blur {
  filter: blur(5px);
  user-select: none;
  transition: 0.1s ease-out;
}

#account-login-history td:last-of-type:hover, .mcdtweaks-blur:hover {
  filter: blur(0);
  user-select: auto;
}
/* ============== DIRECTORY ================ */

/* credits to myself and contributors */
#mcdtweaks-devTag {
	background: url('https://i.ibb.co/SrR2jD1/Screenshot-2024-08-16-233031.png');
	background-size: 100%;
	background-position: 50% 65%;
	border-radius: 7px;
	padding: 10px;
	text-align: center;
}
#mcdtweaks-testerTag {
	background-color: #ff8a00;
	border-radius: 7px;
	padding: 10px;
	text-align: center;
}

#mcdtweaks-devCard {
	background: url('https://i.ibb.co/SrR2jD1/Screenshot-2024-08-16-233031.png');
	background-size: 100%;
	background-position: 50% 60%;
	border-radius: 7px;
}
#mcdtweaks-blairCard {
	background: url('https://i.ibb.co/0KdYN9K/background-gradient-green-tones-23-2148360340.png');
	background-size: 100%;
	background-position: 50% 90%;
	border-radius: 7px;
}
#mcdtweaks-reeceCard {
	background: url('https://i.ibb.co/6grhLwB/Screenshot-2024-08-17-at-11-46-28-PM-1.png');
	background-size: 80cqh;
	background-position: 50% 90%;
	border-radius: 7px;
}

html.hideExtraDirectory li.facet-overflow:nth-of-type(n+17) {
	display: none;
}
.directory-card {
	min-height: auto;
}
.directory-header.sec-15-bgc.visible-md-block.visible-lg-block.subnavbar {
	margin-bottom: 15px;
	padding: 0 4px;
}
#all-fields-button, #search-text-box {
	margin-left: 4px;
}
#search-text-box {
	border-radius: 4px 0 0 4px;
}
#search-directory-button {
	border-radius: 0 4px 4px 0;
}
.bb-action-bar {
	background-color: transparent;
	border-color: var(--darkmode-border);
}

/* ============== TOPICS PAGE ================ */
#academicclassmaincontainer .col-md-3 > div {
	border-radius: 7px;
}
.fadeBox {
	text-align: center;
	border-radius: 4px;
	box-shadow: none;
}

/* ============ CLASS ASSIGNMENTS ============== */
.status-filter-item div.label {
	translate: 0 -25%;
	line-height: 1;
}

/* =========== ASSIGNMENT DETAILS ============== */
app-assignment-view-details > div {
	padding-top: 25px;
}
sky-box-content sky-key-info-value.sky-font-display-3, sky-box-content span.sky-font-display-3 {
	font-size: 3rem;
}
